{% extends 'base.html.twig' %}

{% block body %}
    <section class="indexhtml">
        <div class="container">
            <h1>add user item </h1>
                {{ form_start(form) }}
                <div class="mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.user)}}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.name)}}
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </section>
{% endblock %}


