{% extends 'base.html.twig' %}

{% block body %}

    <section class="indexhtml">
        <div class="container">
            <h1> create user </h1>

            <div class="modal-body">
                {{ form_start(form) }}
                <div class="mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.firstName)}}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.lastName)}}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="col-lg-6">
                        {{ form_row(form.age)}}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}



