{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1> user list </h1>

            <div class="">
                <table class="table table-striped">
                    <tr class="table-dark">
                        <td>
                            lastName
                        </td>
                        <td>
                            firstName
                        </td>
                        <td>
                            age
                        </td>
                        <td>
                            products list
                        </td>
                    </tr>
                    {% for item in list %}
                        <tr>
                            <td>
                                {{ item.lastName }}
                            </td>
                            <td>
                                {{ item.firstName }}
                            </td>
                            <td>
                                {{ item.age }}
                            </td>
                            <td>
                                {% for collection in item.products.values %}
                                    {{ collection.name }} <span>|</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a type="btn" href="{{ path('index') }}"> HOMEPAGE </a>
            </div>
        </div>
    </section>


{% endblock %}



