{% extends 'base.html.twig' %}

{% block body %}
    <section class="indexhtml">
        <div class="container">
            <h1>home page </h1>

            <h1>
                <a href="{{ path('create') }}">ADDUSER</a> |
                <a href="{{ path('add') }}">ADDUSERPRODUCT</a> |
                <a href="{{ path('list') }}">USERLIST</a>
            </h1>
        </div>
    </section>

{% endblock %}



